.dial {
    width: 310px;
    height: 270px;
    border-radius: 50%;
    background: conic-gradient(
        #ff9900 0deg, #ff9900 30deg,   
        #ff1a1a 30deg, #ff1a1a 60deg,
        #e60000 60deg, #e60000 90deg, 
        #239023 270deg, #239023 300deg, 
        #73e600 300deg, #73e600 330deg,   
        #ffcc00 330deg, #ffcc00 360deg 
    );
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative; 
    overflow: visible; /* Prevent the details section from being hidden */
}

.dial::after {
    content: '';
    position: absolute;
    bottom: 0;
    width: 100%;
    height: 50%;
    background-color: #1a1a1a; 
    z-index: 2; 
}

.inner-offset {
    width: 65%; 
    height: 65%; 
    border-radius: 50%;
    background-color: #1a1a1a; 
    position: absolute; 
    top: 17.5%; 
    left: 17.5%; 
    z-index: 1;
}

.needle {
    position: absolute;
    z-index: 3; 
}

.gauge-label {
    position: absolute;
    top: 105px; /* Position the label between the top and bottom */
    left: 50%;
    transform: translate(-50%, -50%); /* Center the label */
    font-size: 30px; /* Adjust font size */
    color: #ffffff; /* Text color */
    background-color: #1a1a1a; /* Optional background for contrast */
    padding: 2px 5px; /* Optional padding for better appearance */
    border-radius: 3px; /* Optional rounded corners */
    z-index: 2; /* Ensure the label is between the needle and the gauge */
    font-weight: bold;
}

.details {
    display: flex;
    flex-direction: column; /* Stack items vertically */
    justify-content: center;
    z-index: 4; 
    margin: -60px auto; 
    position: relative; 
    color: white; 
    width: fit-content; 
    text-align: center;
    margin-right: 45px;
}

/* Up to 1200px (small laptops) */
@media (max-width: 1200px) {
    .details {
        font-size: 20px; /* Maintain font size */
        width: 80%; /* Adjust width as needed */
    }
}

/* Up to 992px (tablets) */
@media (max-width: 992px) {
    .details {
        font-size: 18px; /* Maintain font size */
        width: 80%; /* Adjust width as needed */
    }
}

/* Up to 768px (tablets in portrait orientation) */
@media (max-width: 768px) {
    .details {
        font-size: 16px; /* Maintain font size */
        width: 90%; /* Adjust width as needed */
        margin: -40px auto; /* Center alignment */
    }
}

/* Up to 576px (mobile devices) */
@media (max-width: 576px) {
    .details {
        font-size: 14px; /* Maintain font size */
        width: 95%; /* Adjust width as needed */
    }
}

/* Up to 480px (smaller mobile devices) */
@media (max-width: 480px) {
    .details {
        font-size: 12px; /* Maintain font size */
        width: 95%; /* Adjust width as needed */
    }
}

/* Up to 360px (very small devices) */
@media (max-width: 360px) {
    .details {
        font-size: 10px; /* Maintain font size */
        width: 95%; /* Adjust width as needed */
    }
}



