
.guage {
    display: inline-block;
    height: 120px; 
    position: relative;
    width: 240px; 
}

.gauge-needle {
    position: absolute;
    bottom: 25%; 
    left: 50%; 
    width: 4px; 
    height: 30px; 
    background: #cccccc; 
    border-radius: 2px; 
    transform-origin: bottom; 
    z-index: 2; 
    transition: transform 0.5s ease; 
    box-shadow: 0px 0px 5px rgba(0, 0, 0, 0.7); 
}

.gauge-needle:before {
    content: '';
    position: absolute;
    width: 16px; 
    height: 16px; 
    background: #cccccc; 
    border-radius: 50%; 
    bottom: -8px; 
    left: -8px; 
    z-index: 3; 
    box-shadow: 0px 0px 5px rgba(0, 0, 0, 0.7); 
}

.gauge-needle::after {
    content: '';
    position: absolute;
    width: 0; 
    height: 0; 
    border-left: 6px solid transparent; 
    border-right: 6px solid transparent;
    border-top: 12px solid #cccccc; 
    left: -6px; 
    top: -12px; 
    transform: rotate(180deg); 
}





.guage-levels {
    border-radius: 440px 440px 0 0; 
    overflow: hidden;
    background: #1a1a1a;
    height: 120px; 
    position: relative;
}

.guage-levels:before {
    content: '';
    height: 180px; 
    width: 180px; 
    background-color: #1a1a1a;
    display: block;
    position: absolute;
    border-radius: 50%;
    transform: translate(-50%, 0);
    left: 50%;
    bottom: -90px; 
    z-index: 1;
}

.guage-level {
    border-left: 96px solid transparent; 
    border-right: 96px solid transparent; 
    display: block;
    height: 0;
    margin-left: -96px; 
    position: absolute;
    bottom: 0;
    left: 50%;
    width: 0;
    transform-origin: 50% 100%;
}

.guage-level.guage-slice-1 {
    border-top: 228px solid #239023; 
    transform: rotate(-90deg); 
}

.guage-level.guage-slice-2 {
    border-top: 228px solid #73e600; 
    transform: rotate(-54deg); 
}

.guage-level.guage-slice-3 {
    border-top: 228px solid #ffcc00; 
    transform: rotate(-20deg); 
}

.guage-level.guage-slice-4 {
    border-top: 228px solid #ff9900; 
    transform: rotate(18deg); 
}

.guage-level.guage-slice-5 {
    border-top: 228px solid #ff1a1a; 
    transform: rotate(60deg); 
}

.guage-level.guage-slice-6 {
    border-top: 228px solid #e60000; 
    transform: rotate(90deg); 
}


